@page "/"
@using System.IO;
@inject IFileReaderService fileReaderService;

<style>
    .float {
        float: left;
        width: 45%;
        margin: 5px;
    }

    .clear {
        clear: both;
    }

    textarea {
        width: 100%;
    }
</style>
<div>
    EDL (Edit Decision List) of markers exported from an NLE (ie, Davinci Resolve), then converted to the timestamp/chapter marks that youtube can process.<br />

    <img src="example.jpg" /><br />
    <a href="sample.txt"> Sample EDL</a><br />
    <div class="clear">&nbsp;</div>
    <div class="float">
        <h3>Input (EDL)</h3>
        <textarea @bind="Input" id="inputtext" rows="15"></textarea>
        <h4>Options</h4>
        <ul>
            <li>
                <input type="checkbox" id="dummy" @onchange="eventArgs => { DummyChecked(); }">
                <label for="dummy">Insert dummy 00:00 </label><br />
                If unticked, you need to manually add <em>00:00 - Video Start</em>, otherwise Youtube won't recognise the chapters at all.
            </li>
        </ul>
    </div>

    <div class="float">
        <h3>Output (YT compatible chapters)</h3>
        <textarea @bind="Output" readonly="readonly" rows="15"></textarea>
        <h4>Filters</h4>
        <ul>
            @foreach (var c in Colours)
            {
                <li>
                    <input type="checkbox" id="@c.Label" name="@c.Label" value="@c.Label" @onchange="eventArgs => { CheckboxClicked(c, eventArgs.Value); }" checked="checked">
                    <label for="@c.Label"> @c.Label</label>
                </li>
            }
        </ul>
    </div>
    <div class="clear">&nbsp;</div>

    <input class="btn btn-primary" type="file" @ref=inputElement @onchange=ReadFile> or <button class="btn btn-primary" @onclick="ConvertClick">Convert text area (manual input)</button>
</div>

@code {
    ElementReference inputElement;
}